/*GLOBAL CSS*/

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}

:root {
    --bg_blue: #1166e1;
    --seafoam-blue: #4ac8ca;
    --seafoam-light: #5dbcbd;
    --light:#fff;
    --grey: #959595
}
.text-blue  {
    color: var(--bg_blue);
}
.text-light  {
    color: var(--light);
}
.text-grey  {
    color: var(--grey);
}
.text-seafoam  {
    color: var(--seafoam-light);
}

p{
    font-size: 18px;
    line-height: 1.6rem;
}

/*NAVBAR CSS*/



/*****************Atlantis Navbar**********************/
.atlantis_rcm_nav{
    z-index: 1030;
    background: transparent;
    background: var(--bg_blue) !important;
}


#nav_div {
    width: 100%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.atlantis_rcm_nav .navbar-brand > img  {
    width: 200px;
    margin-top: 15px;
}

.atlantis_rcm_nav button.navbar-toggler:focus {
    box-shadow: none;
}
.atlantis_rcm_nav li.nav-item {
    height: 45px;
    padding: 8px 0px;
}

.atlantis_rcm_nav li.nav-item > a {
    color: white !important;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1px 10px;
    border-radius: 8px;
    border: 2.5px solid transparent;
}
.atlantis_rcm_nav li.nav-item > .active , .atlantis_rcm_nav li.nav-item > a:hover {
    background-color: var(--seafoam-blue);
    color: white;
    border: 2.5px solid white;
}

#solution_menu {
    position: relative;
    transition: all 1s ease-in-out;
}
#solution_menu > a > i.angle-up {
    transform-style: preserve-3d;
    transform: rotateZ(180deg);
}

.sub_menu_solution {
    background-image: url("../images/new_theme/menu/Bg_menu.png");
    background-position: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1030;
    top: 50px;
    width: 1040px;
    right: -422px;
    border-radius: 15px;
    height: 400px;
    border: 1px solid var(--grey);
    transition: all 0.6s ease-in-out;
}
#solution_menu:hover .sub_menu_solution {
    visibility: unset;
    opacity: 1;
    top: 65px;
    transition: all 0.6s ease-in-out;
}
.sub_menu_solution_active {
    visibility: visible;
    opacity: 1;
    top: 65px;
    transition: all 0.6s ease-in-out;
}

.bg-sol-sb-menu {
    position: relative;
    border-radius: 15px;
}
.bg-sol-sb-menu .polygon_arrow {
    position: absolute;
    top: -36px;
    right: 200px;
}
.sub_menu_title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.2;
}
.sub_menu_descrip {
    font-size: 14px;
    letter-spacing: 0.6px;
}

.sb_menu_view_all_sol {
    background-color: var(--seafoam-blue);
    color: white;
    width: 100%;
    padding: 5px 20px;
    margin-left: 25px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    border: none;
}
.grey_article_sb_menu {
    width: 100%;
}
.dot_menu_special {
    position: relative;
    transition: all 0.2s ease-in-out;
}


.grey_article_sb_menu p.sub_menu_descrip {
    margin-left: 20px !important;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
}
.fa-angles-right {
    color: var(--seafoam-blue);
}

.btn_mbl_drpdown {
    color: #fff !important;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1px 10px;
    border-radius: 8px;
}
.btn_mbl_drpdown:active ,  .btn_mbl_drpdown:focus {
    border: 2px solid #fff !important;
    background-color: var(--seafoam-blue);
    color: white;
}
.btn_mbl_drpdown_active {
    border: 2px solid #fff !important;
    background-color: var(--seafoam-blue) !important;
    color: white;
}
